// SASS Syntactically Awesome StyleSheet
// CSS Extension
// CSS Pre-Processor
// Reduce the repetition
// scss is the file extension

@import "./scss/variables";
@import "./scss/mixins";
// to import external style files.

//******Nesting*********
//nest the styles and avoid of combination of selectors

body{
    $test : 20px;
    background-color: $bg-primary;
    font-size: $test;   //$test is available here but not available outside of this block
    
    #header{
        @include boxes;
        background-color: $bg-light;
        box-shadow: 5px 5px 10px black;

        h1{
            color: $heading-color;
        }
        p{

            color: white;
        }
    }

    p{
        @include paragraph(tomato);
        // color: gray;
    }


    a{
        text-decoration: none;
        color: $heading-color;
        font-weight: bold;

        &:hover{
            color: darken($color: $heading-color, $amount: 10);
        }
    }


    #footer{
        width: 100%;
        display: flex;
        justify-content: space-around;
        margin-top: 2rem;
        background-color: $bg-light;
        padding: 1rem;


        .basic-btn{
            width: 5rem;
            height: 1.5rem;
            background: skyblue;
            border: none;
            color: tomato;
        }

        .home-btn{
            @extend .basic-btn;
            color: white;
        }
    }




}


#main-p-contact{
    color: $heading-color;
}