//****Variable*******
//meaningfull name for variables
//consider the scope of variable
//- and _ are the same in sass      $bg_primary == $bg-primary

$bg-primary: rgb(197, 221, 228);
$heading-color: tomato;
$bg-light: rgb(37, 130, 156);
$secondary: gray;
$text-muted: lighten(blue, 50);