
.App{
  background-color: #555;
  color: #fff;
  margin: auto;
  text-align: center;
}

header{
  display: flex;
  justify-content: space-between;
  background-color: darkmagenta;
  padding: 1em;
}

nav ul{
  display: flex;
}

nav ul li{
  list-style-type: none;
  margin-right:  2em;
}

.right-nav{
  display: flex;
  align-items: center;
}

input[type="text"], input[type="password"]{
  height: 2em;
}

input[type="submit"]{
  height: 2.3em;
  background-color: darkorange;
  color: #fff;
  font-size: 0.85em;
  border: none;
  border-radius: 0 3px 3px 0;
  margin-left: 0.3em;
  box-shadow: 2px 2px 3px #555;
}